h1 {
    text-align: center;
    margin-bottom: 16px;
  }
  
  mat-card {
    width: 300px;
    margin: 8px;
  }
  
  .description {
    font-size: 12px;
    color: #666;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }